<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>

    <body>
        {% if surveys %}
        <h2>Surveys</h2>
        <ul>
            {% for survey in surveys %}
            <li>{{ survey.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>

    <form action="/create" method="post"></form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="survey">Survey:</label>
        <textarea id="survey" name="survey" required></textarea>
        <button type="submit">Submit</button>
    </form>

</html>